.circle {
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background: transparent;
  /* border: 1px solid #fff; */
  position: relative;
  top: -750px;
  left: -900px;
}

@keyframes all {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes alls {
  0% {
    transform: rotate(0deg) translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px);
    opacity: 1;
  }
}
@keyframes allr {
  0% {
    transform: rotate(0deg) translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(750px);
    opacity: 0;
    display: none;
  }
}
@keyframes allshown {
  0% {
    transform: translateX(500px);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translateX(750px);
    opacity: 1;
  }
}
.ALL,
.ALLS,
.ALLR,
.ALLSHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.ALL {
  animation: all 1s linear forwards;
}
.ALLS {
  animation: alls 1s linear forwards;
}
.ALLR {
  animation: allr 1s linear forwards;
}
.ALLSHOWN {
  animation: allshown 1s linear forwards;
}

@keyframes brand {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(7deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes brands {
  0% {
    transform: rotate(7deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes brandr {
  0% {
    transform: rotate(7deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes brandshown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(7deg) translateX(750px);
    opacity: 1;
  }
}
.BRAND,
.BRANDS,
.BRANDR,
.BRANDSHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.BRAND {
  animation: brand 2s linear forwards;
}
.BRANDS {
  animation: brands 2s linear forwards;
}
.BRANDR {
  animation: brandr 2s linear forwards;
}
.BRANDSHOWN {
  animation: brandshown 2s linear forwards;
}

@keyframes uxui {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(14deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes uxuis {
  0% {
    transform: rotate(14deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes uxuir {
  0% {
    transform: rotate(14deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes uxuishown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(14deg) translateX(750px);
    opacity: 1;
  }
}
.UXUI,
.UXUIS,
.UXUIR,
.UXUISHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.UXUI {
  animation: uxui 2s linear forwards;
}
.UXUIS {
  animation: uxuis 2s linear forwards;
}
.UXUIR {
  animation: uxuir 2s linear forwards;
}
.UXUISHOWN {
  animation: uxuishown 2s linear forwards;
}

@keyframes media {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(21deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes medias {
  0% {
    transform: rotate(21deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes mediar {
  0% {
    transform: rotate(21deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes mediashown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(21deg) translateX(750px);
    opacity: 1;
  }
}
.MEDIA,
.MEDIAS,
.MEDIAR,
.MEDIASHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.MEDIA {
  animation: media 2s linear forwards;
}
.MEDIAS {
  animation: medias 2s linear forwards;
}
.MEDIAR {
  animation: mediar 2s linear forwards;
}
.MEDIASHOWN {
  animation: mediashown 2s linear forwards;
}

@keyframes graphic {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(28deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes graphics {
  0% {
    transform: rotate(28deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes graphicr {
  0% {
    transform: rotate(28deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes graphicshown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(28deg) translateX(750px);
    opacity: 1;
  }
}
.GRAPHIC,
.GRAPHICS,
.GRAPHICR,
.GRAPHICSHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.GRAPHIC {
  animation: graphic 2s linear forwards;
}
.GRAPHICS {
  animation: graphics 2s linear forwards;
}
.GRAPHICR {
  animation: graphicr 2s linear forwards;
}
.GRAPHICSHOWN {
  animation: graphicshown 2s linear forwards;
}

@keyframes product {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(35deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes products {
  0% {
    transform: rotate(35deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes productr {
  0% {
    transform: rotate(35deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes productshown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(35deg) translateX(750px);
    opacity: 1;
  }
}
.PRODUCT,
.PRODUCTS,
.PRODUCTR,
.PRODUCTSHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.PRODUCT {
  animation: product 2s linear forwards;
}
.PRODUCTS {
  animation: products 2s linear forwards;
}
.PRODUCTR {
  animation: productr 2s linear forwards;
}
.PRODUCTSHOWN {
  animation: productshown 2s linear forwards;
}

@keyframes living {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(42deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes livings {
  0% {
    transform: rotate(42deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes livingr {
  0% {
    transform: rotate(42deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes livingshown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(42deg) translateX(750px);
    opacity: 1;
  }
}
.LIVING,
.LIVINGS,
.LIVINGR,
.LIVINGSHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.LIVING {
  animation: living 2s linear forwards;
}
.LIVINGS {
  animation: livings 2s linear forwards;
}
.LIVINGR {
  animation: livingr 2s linear forwards;
}
.LIVINGSHOWN {
  animation: livingshown 2s linear forwards;
}

@keyframes mobility {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(49deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes mobilitys {
  0% {
    transform: rotate(49deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes mobilityr {
  0% {
    transform: rotate(49deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes mobilityshown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(49deg) translateX(750px);
    opacity: 1;
  }
}
.MOBILITY,
.MOBILITYS,
.MOBILITYR,
.MOBILITYSHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.MOBILITY {
  animation: mobility 2s linear forwards;
}
.MOBILITYS {
  animation: mobilitys 2s linear forwards;
}
.MOBILITYR {
  animation: mobilityr 2s linear forwards;
}
.MOBILITYSHOWN {
  animation: mobilityshown 2s linear forwards;
}

@keyframes space {
  0% {
    transform: translateX(0500px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: rotate(56deg) translateX(750px);
    opacity: 1;
  }
}
@keyframes spaces {
  0% {
    transform: rotate(56deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes spacer {
  0% {
    transform: rotate(56deg) translateX(750px);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
    display: none;
  }
}
@keyframes spaceshown {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    transform: rotate(56deg) translateX(750px);
    opacity: 1;
  }
}
.SPACE,
.SPACES,
.SPACER,
.SPACESHOWN {
  width: 370px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0%;
}
.SPACE {
  animation: space 2s linear forwards;
}
.SPACES {
  animation: spaces 2s linear forwards;
}
.SPACER {
  animation: spacer 2s linear forwards;
}
.SPACESHOWN {
  animation: spaceshown 2s linear forwards;
}
