.notion-header,
.notion-page-icon-image,
.notion-title {
    display: none;
}

.notion-page {
    width: 100vw;
    background-color: #000;
    padding: 0px;
}

/* .notion-page-content {
    width: 90vw;
    max-width: 90vw;
    padding-top: 24px;
    gap: 40px;
    margin: 0 auto;
}
@media (min-width: 1001px) {
    .notion-page-content {
        width: 70vw;   
        max-width: 70vw;
        padding-top: 100px;
        gap: 64px;
    }
} */

.notion-page-cover-wrapper,
.notion-page-cover-wrapper img,
.notion-page-cover-wrapper span {
    display: none;
}

.notion-text {
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

@meida (min-width: 1001px) {
    .notion-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
}

.notion-collection-header {
    display: none;
}

.notion-gallery {
    display: flex;
    flex-direction: row;
    position: relative;
}

.notion-gallery-view {
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 1001px) {
        height: auto;
    }
}

.notion-collection-row-property {
    display: none;
}

@media (max-width: 1000px) {
    .notion-row .notion-column {
        width: 50% !important;
    }
    .notion-row {
        flex-direction: row;
        gap: 10px;
    }
    .notion-blank {
        display: none;
    }
}

.notion-h-title {
    color: #FFF!important;
}

.notion-collection-row {
    display: none;
}

.notion-toggle {
    display: none;
}