.notion-header,
.notion-page-cover-wrapper,
.notion-title,
.notion-page-icon-image,
.notion-collection-header,
.notion-blank
{
    display: none;
}

.notion-app {
    background: #000;
    min-height: 0px;
}

.notion-page {
    padding: 0px;
    padding-bottom: 0px!important;
    background: #000;
    min-height: 0px;
}

.notion-page-scroller {
    min-height: 0px;
}

.notion {
    --notion-max-width: 2000px;
}

.notion-collection-card {
    position: relative;
}

.notion-collection-card,
.notion-collection-card-cover,
.notion-collection-card-cover img
{
    border-radius: 0;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.notion-collection-card-body {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 9.21%, rgba(0, 0, 0, 0.00) 100%);
    padding: 20px 15px;
    gap: 2px 20px;
}

.notion-collection-card-property {
    position: relative;
    padding: 0px;
    height: fit-content;
}

.notion-property-text {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.1em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notion-page-title-text {
    color: #FFF;
    font-family: Pretendard;
    font-size: 16px!important;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.notion-collection-card-property:nth-child(1) {
    order: 1;
}

.notion-collection-card-property:nth-child(2) {
    order: 3;
}

.notion-collection-card-property:nth-child(3) {
    order: 2;
}

.notion-collection-card-property:nth-child(4) {
    order: 4;
}

.notion-gallery-grid {
    padding: 0px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    gap: 20px;
    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(1, minmax(300px, 1fr));   
    }
}